*{
    
}
.bodii{
    width: 90vw;
    height: 120vw;
    font-family: 'roboto', sans-serif ;
    margin: 20px 70px  ;
}
.header_boxj{
    margin: 0;
    background: black;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.icon_le{
    color: hsl(1deg, 84%, 67%);
    font-size: 30px;
    width: 0px;
    margin-left: 40px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 3.5%;
    display: flex;
    padding: 0px;
    margin: 10px 0px 30px 0px;
}
.icon{
    display: flex;
    margin: 0px 30px 10px 80%;
}
.d2{
    display: flex;
    width: fit-content;
    height:fit-content;
}
.d2_anh{
    width: 40%;
    margin-right: 100px;
    margin-left:  0px;
}
.d2_text{
    margin-right: 40px;
}
.d2_text--h{
    padding: 10px 30px;
    font-size: 20px;
}
.d2_text--name{
    font-size: 30px;
    padding: 0px 30px;
    
}
.d2_text--num{
    display: flex;
    margin-top: 30px;
    margin-right: 70px;
    padding: 0px 15px;
}
.block{
    margin: 0px;
    display: block;
}
.d2_text--num--box{
    margin-right: 70px;
}
.d2_text--num--boxn{
    margin-right: 70px;
    font-size: 50px;
    font-weight: bolder;
    color: hsl(1deg, 84%, 67%);
    text-align: left;
}
.d2_text--num--boxt{
    margin-right: 50px;
    font-size: 20px;
    margin-top: 10px;
    width: auto;
}
.d3{
    width: 110px;
    font-size: 20px;
    box-shadow: 0px 4px hsl(1deg, 84%, 67%) ;  
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: bolder;
}
.d4{
    font-size: 25px;
    color: gray;
    letter-spacing: 1px;
    
}
.d5{
    width: fit-content;
    font-size: 15px;
    font-weight: bolder;
    margin:70px auto ;
    letter-spacing: 1.5px;
    color: hsl(1deg, 84%, 67%);
    padding: 20px;
    border: 2px solid hsl(1deg, 84%, 67%);
    border-radius: 50px;
}
.d6{
    width: 100%;
    display: flex;
}
.d6_1{
    width: 37%;
    margin: 0px 20px 0px 0px;
    padding-right:170px ;

}
.d6_1--h{
    width: 135px;
    font-size: 20px;
    box-shadow: 0px 3px hsl(1deg, 84%, 67%) ;  
    margin-bottom: 20px;
    font-weight: bolder;
    margin: 0px;
}
.d6_2{
    margin: 0px;
    width: 40%;
}
.d6_2--h{
    width: 150px;
    font-size: 20px;
    box-shadow: 0px 3px hsl(1deg, 84%, 67%) ;  
    font-weight: bolder;
    margin: 0px 0px;

}
.d6--content1{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    grid-gap:2px 2px;
    margin: 30px 0px;
}
.d6--content2{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    grid-gap:2px 2px;
    margin: 30px 0px;
    padding-right: 20px;
}
.d6--content--delt{
    width: fit-content;
    color: gray;
    border: 2px solid rgb(146, 142, 142) ;
    margin-right: 10px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin-left: 0px;
}
.d7{
    width: 200px;
    font-size: 20px;
    box-shadow: 0px 3px hsl(1deg, 84%, 67%) ;  
    margin-bottom: 50px;
    font-weight: bolder;
}
.d8{
    display: flex;
    margin: 0;
    margin-bottom: 100px;
}
.d8_ha1{
    margin-right: 20px;
}
.d8--2019{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 30px;
}
.d8--2{
    font-size: 35px;
    margin: 0px 0px 30px;
    color: gray;
}
.d8--3{
    font-size: 20px;
    font-weight: bolder;
    margin: 0px 0px 60px;
}
.d8--cont{
    font-size: 18px;
    color: gray;
    margin: 0px 0px 30px;
}
.d8--list{
    font-size: 18px;
    color: gray;
    margin: 0px 0px 30px;
    padding: 0px;
}
.li{
    margin-left: 10px;
}
.d9{
    width: 160px;
    font-size: 20px;
    box-shadow: 0px 3px hsl(1deg, 84%, 67%) ;  
    margin-bottom: 40px;
    font-weight: bolder;
}
.d10{
    background-color: #f6f8fa;
    width: 100%;
    height: fit-content;
    display: flex;
    background-position: bottom ;
    border: 2px white;
    border-radius: 20px;
    margin-bottom: 80px;
}
.d10_cont{
    width: 45%;
    margin-right: 100px;
    margin-left: 80px;
}
.d10_cont--h{
    font-size: 25px;
    font-weight: bold;
    margin: 70px 0px 50px;
}
.d10_cont--delt{
    font-size:18px;
    color: gray;
    margin: 0px 0px 50px;
}
.d10_cont--butt{
    width: fit-content;
    font-size: 16px;
    font-weight: lighter;
    color: hsl(1deg, 84%, 67%);
    border: 1px solid hsl(1deg, 84%, 67%);
    border-radius:30px;
    margin: 70px 0px 50px;
    padding: 10px 20px;
    letter-spacing: 1px;

}
.image{
    width: 400px;
    height:420px;
    border: 2px white;
    border-radius: 20px ;
    margin:3px 10px 0px 50px;
}
.d11{
    width: 100%;
    height: 25%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 120px;
}
.d11--S{
    font-weight:bolder;
    color: gray;
    margin-bottom:60px;
    font-size: 25px;
} 
.d11--R{
    font-size:  45px;
    font-weight:bold;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.d11--F{
    margin-bottom: 70px;
    letter-spacing: 1.5px;
}
.d11--L{
    border: 1px solid hsl(1deg, 84%, 67%);
    justify-content: center;
    width: fit-content ;
    border-radius: 70px;
    margin: auto;;
    color:hsl(1deg, 84%, 67%);
    padding: 14px 20px;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: bold;
}
.d11--Sp{
    color: gray;
    letter-spacing: 1.5px;
    margin-top: 100px ;
    margin-bottom: 30px;
}
